{% macro map(coords, zoom) -%}
    <div class='map' id='map'></div>
    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js" defer="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if coords is mapping %}
                {% set coords = [coords] %}
            {% endif %}
            let coords = {{ coords|tojson }}
            const map = new maplibregl.Map({
                style: 'https://tiles.openfreemap.org/styles/bright',
                center: coords[0],
                zoom: {{ zoom or 16 }},
                container: 'map',
            })
            for (const coord of coords) {
                new maplibregl.Marker()
                    .setLngLat(coord)
                    .setPopup(new maplibregl.Popup().setHTML(coord["name"]))
                    .addTo(map)
            }
        })
    </script>
{% endmacro -%}
