{% extends "base.html" %}

{% block body_class %}homepage{% endblock %}
{% block body %}
    <h1>More about Pub Standards</h1>
    <p>Pub Standards is a regular get-together for web folk. We're open to everyone, regardless of age, experience, or beverage preference.</p>
    <p>Started in 2005 and still going strong, the London Chapter of Pub Standards is the original, and still the best place in London to enjoy a tasty beverage with like-minded web people.
    <p>This is the post-conference drinks and chat without the conference.</p>

    <h1>When and where is it?</h1>
    <p>London Pub Standards is always held at <a href="">The Bricklayers Arms</a> on FIXME street, W1 (nearest tubes are Goodge Street and Tottenham Court Road).</p>
    <p>There was a brief change of venue to <a href="">The Duke of York</a> on Rathbone Street in 2011 as we were no longer allowed to drink outside The Bricklayers Arms, however we're now back in our long-standing home.</p>
    <p>In between Pub Standards events, those requiring more beer can organise a Substandards event. They are named events (not numbered) and must always be held at a new, unvisited pub. If you'd like to propose a Substandards event, simply email the <a href="/keep-in-touch">mailing list</a> with a name, date, and location. See the <a href="/all">list of previous events</a> to find out where we've been drinking before.</p>

    <div>
        <h4>More about Pub Standards</h4>
        <p>You can find out more about Pub Standards and the other worldwide meetings at <a href="http://pubstandards.com">pubstandards.com</a>.
    </div>
{% endblock %}
