{% extends "base.html" %}

{% block body %}
  <h2>All Pub Standards London events</h2>

  <p class='information'>
    This list is also available as an <a href='{% url "allics" %}'>iCalendar feed</a>.
  </p>

  <ol id='events'>
  {% for event in events %}
    <li>
      <h3><a href='{% url "event-detail" slug=event.slug %}' class='nav'>{{event}}</a></h3>
      <p class='about'>
        {{event.date}}
        at <a href='{% url "pub-detail" slug=event.pub.slug %}'>{{event.pub}}</a>
      </p>
    </li>
  {% endfor %}
  </ol>
{% endblock %}
