{% load staticfiles %}
<!DOCTYPE html>
<html lang='en-gb'>
  <head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='/static/london.css' media='screen'>
    <title>Pub Standards London</title>
  </head>
  <body class='{% block body-class %}{% endblock %}'>
    <div id='main'>
      <header>
        <h1>
          {% if not homepage %}<a href='/'>{% endif %}
            <img src='/static/beer_mat.jpg'><b>Pub Standards London</b>
          {% if not homepage %}</a>{% endif %}
        </h1>
        <p>
          The infamous <em>beer-infused</em>, casual, social, warm, raucous, fine,
          dandy, monthly <em>London</em> meet-up for <em>web folk</em>.
        </p>
      </header>
      <div id='content'>
        {% block body %}{% endblock %}
      </div>
    </div>
    <footer>
      <p>
        The code for this site is
        <a href='https://github.com/norm/pubstandards-london'>available on GitHub</a>.
      </p>
      <p>
        Hosted on a 512MB droplet at DigitalOcean. Help save on hosting costs
        by using our
        <a href='https://www.digitalocean.com/?refcode=804308028237'>referral link</a>
        to sign up.
      </p>
    </footer>
  </body>
</html>
