{% extends "base.html" %}
{% block title %}{{event.title}}{% endblock %}
{% block meta %}
<link rel="canonical" href="https://london.pubstandards.com{{url_for('other_event', slug=event.slug)}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pubstandards" />
<meta property="og:title" content="{{event.name}}" />
{% if event.description %}<meta property="og:description" content="{{event.description|truncate(190)}}" />{% endif %}
<meta property="og:image" content="https://london.pubstandards.com/static/beer_mat.jpg" />
<meta property="og:url" content="https://london.pubstandards.com{{url_for('other_event', slug=event.slug)}}" />
{% endblock %}
{% block body %}
<div itemscope itemtype="https://schema.org/Event">
  <h1 itemprop="name">{{event.title}}</h1>
  <p>{% if event.in_the_past %}Was{% else %}Will be{% endif %} held at
    <span itemprop="location" itemscope itemtype="https://schema.org/Place">
      <a itemprop="hasMap" href='http://maps.google.co.uk/maps?q={{event.address}}'><span itemprop="name">{{event.location}}</span></a>
    </span>
    on <time itemprop="startDate" datetime="{{event.start_dt.isoformat()}}">{{event.pretty_date}}{% if not event.in_the_past %}
        from {{event.pretty_time_period}}{% endif %}</time>
  </p>
  {% if event.address %}
    <p class="map">
        <iframe width="508" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{event.address}}&key=AIzaSyB6e6ARbWZOETgBrJ54j3R0z7p93UzhYMQ"></iframe>
    </p>
    {% if event.description %}
      <div class="description" itemprop="description">
      {{ event.description|safe }}
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
