{% extends "base.html" %}

{% block body_class %}homepage{% endblock %}
{% block body %}
  <p>This is the London chapter of <a href="http://pubstandards.com">Pub Standards</a>, a monthly meeting of web-folk. Since 2005 we've been offering after-conference drinks &amp; chat without the conference.</p>
  <p>See where we've <a href="/all">been before</a>, where we'll be <a href="/next">in the future</a>, how to <a href="/keep-in-touch">keep in touch</a>, or just find out <a href="/about">more about Pub Standards</a>.</p>

  <h2>Next, on Pub Standards…</h2>
  <ol id='next'>
    <li class='first'>
      <h3><a href='/event/{{ next_event.slug }}' class='nav'>{{ next_event.title }}</a></h3>
      <p class='about'>
        <span class='time-until'>{{next_event.time_until}}</span>
        {{next_event.pretty_date}} at <a href='http://maps.google.co.uk/maps?q={{next_event.address}}'>{{next_event.location}}</a> ({{ next_event.pretty_time_period }})      
      </p>
      {% if next_event.address %}
        <p class='map'>
          <img src='https://maps.google.com/maps/api/staticmap?size=508x250&amp;sensor=false&amp;zoom=15&amp;center={{ next_event.address }}&amp;markers=color:red%7C{{ next_event.address }}'>
        </p>
        {% if next_event.description %}
          <p class='description'>{{ next_event.description }}</p>
        {% endif %}
      {% endif %}
    </li>
  </ol>

  <p><a href='/next' class='nav'>All upcoming Pub Standards London events…</a></p>
  
{% endblock %}
