{% extends "base.html" %}

{% block body %}
  <h2>Upcoming Pub Standards London events</h2>
  
  <p class='information'>
    This list is also available as an <a href='/all.ics'>iCalendar feed</a>. You may also want to see <a href='/previous'>all previous Pub Standards events</a>.
  </p>
  
  <ol id='next'>
  {% for event in events %}
    <li>
      <h3><a href='/event/{{event.slug}}' class='nav{% if event.name %} substandards{% endif %}'>{{event.title}}</a></h3>
      <p class='about'>
        {{event.pretty_date}}
        at <a href='http://maps.google.co.uk/maps?q={{event.address}}'>{{event.location}}</a>
      </p>
    </li>
  {% endfor %}
  </ol>
  
{% endblock %}
