{% extends "base.html" %}

{% block body %}
  <h2>Upcoming Pub Standards London events</h2>
  
  <p class='information'>
    This list is also available as an <a href='/all.ics'>iCalendar feed</a> <a href="https://www.google.com/calendar/render?cid=d9dc4v3ps0rmpfvsj3n1ubv8c4gkrmbu%40import.calendar.google.com#h"><img src="https://www.google.com/calendar/images/calendar_plus_en_GB.gif"></a>. You may also want to see <a href='/previous'>all previous Pub Standards events</a>.
  </p>
  
  <ol id='next'>
  {% for event in events %}
    <li>
      <h3><a href='/event/{{event.slug}}' class='nav{% if event.name %} substandards{% endif %}'>{{event.title}}</a></h3>
      <p class='about'>
        {{event.pretty_date}}
        at <a href='http://maps.google.co.uk/maps?q={{event.address}}'>{{event.location}}</a>
      </p>
    </li>
  {% endfor %}
  </ol>
  
{% endblock %}
